<nav class="navbar navbar-expand-lg px-2 mb-3 navbar-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <a class="navbar-brand" href="/">ALUMNI LENNÉ E.V.</a>
   
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link {% if page.url == "/" %} active {% endif %}"  href="{{ site.baseurl }}/">Start</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if page.url == "/about" %} active {% endif %}" " href="{{ site.baseurl }}/about.html">Über uns</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if page.url == "/news" %} active {% endif %}" href="{{ site.baseurl }}/news.html">Alumni-News</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if page.url == "/documents" %} active {% endif %}" href="{{ site.baseurl }}/documents.html">Dokumente</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://tools.alumni-lenne.de/amvt/#/login">Login</a>
        </li>
      </ul>
    </div>
  </nav>