<nav style="z-index: 4000; left:0;right:0;position:fixed;" class="navbar navbar-expand-lg px-2 mb-3 navbar-dark shadow">
  <a class="btn btn-outline-light" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
    aria-controls="offcanvasExample">
    <i class="bi bi-list"></i>
  </a>

  <a class="navbar-brand display-6" href="{{ site.baseurl }}/">Alumni Lenné e.V.</a>
</nav>


<div class="offcanvas pt-5 offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Menü</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="navbar-nav nav text-dark">
      <li class="nav-item px-2">
        <a class="nav-link {% if page.url == '/' %} active {% endif %}" href="{{ site.baseurl }}/"><i
            class="bi bi-house"></i> Start</a>
      </li>
      <hr>
      <li class="nav-item px-2">
        <a class="nav-link {% if page.url == '/about' %} active {% endif %}" href="{{ site.baseurl }}/about.html"><i
            class="bi bi-people"></i> Über uns</a>
      </li>
      <hr>
      <li class="nav-item px-2">
        <a class="nav-link {% if page.url == '/documents' %} active {% endif %}"
          href="{{ site.baseurl }}/documents.html"><i class="bi bi-file-earmark-arrow-down"></i> Dokumente</a>
      </li>
      <hr>
      <li class="nav-item px-2">
        <a class="nav-link disabled  {% if page.url == '/news' %} active {% endif %}"
          href="{{ site.baseurl }}/news.html"><i class="bi bi-newspaper"></i> Alumni-News<span class="badge">Coming
            Soon</span></a>
      </li>
      <hr>
      <li class="nav-item px-2">
        <a class="nav-link" href="https://tools.alumni-lenne.de/amvt/#/login"><i class="bi bi-box-arrow-in-right"></i>
          Login</a>
      </li>
    </ul>
  </div>
  <div class="offcanvas-footer text-center py-3">
    <a href={{site.baseurl}}/impressum.html>Impressum </a> &nbsp;|&nbsp;<a href="{{site.baseurl}}/dsgvo.html"> Datenschutz</a>
  </div>
</div>