$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$grey: #23282c;
$mainOrange: #ff9800;

body {
  height: 100vh;
}

p,form,.list-group {
max-width:60ch;
margin:auto;
}

ul a{
  text-decoration: none;
}

p{
text-align: justify;
}

.card-text{
  text-align:left
}

nav{
  background-color: $mainOrange;
& a{
  color:white;
  text-decoration: none;
}
& a:hover{
  color:black;
}
& .active{
color: $bodyColor;  
}
}

.navbar-brand{
margin:auto !important
}

input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  outline: none;
  }

a.nav-link{
  color: rgba(255,255,255,1) !important
  }

  h2,p{
    display: block;
  }

footer{
display: flex;
justify-content: center;
height:3em;
line-height: 1em;
padding-top:1em;
width: 100%;
top:100vh;
position: sticky;
background-color: $grey;
color:$mainOrange;
& a{
text-decoration: none;
color:$mainOrange;
}
}
