@import url('roboto.css');

$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: 'Roboto', sans-serif;
$grey: #23282c;
$mainBlue: #02578e;

* {
  font-family: roboto;
}

.card {
  scroll-margin-top: 75px;
}

.btn-blue {
  background-color: $mainBlue;
  border-color: $mainBlue;
}

p {
  font-weight: 300;
}

.my_headline {
  font-size: 3rem;
  font-weight: 100 !important;
  line-height: 1.2;
}

h1, p, form, .list-group {
  // max-width:60ch;
  margin: auto;
}

.nav-link.disabled {
  color: $grey !important;

  & span {
    color: $grey !important;
  }
}

.badge {
  transform: rotate(-15deg);
}

ul a {
  text-decoration: none;
}

h2, p {
  display: block;
}


.card-text {
  text-align: left
}

nav {
  background-color: $mainBlue;

  & a {
    color: black;
    text-decoration: none;
  }

  & a:hover {
    color: black;
  }

  & .active {
    color: $bodyColor;
  }
}

.navbar-brand {
  margin: auto !important
}

.card-header {
  background-color: $mainBlue;
}

input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  outline: none;
}

a.nav-link {
  color: black
}


footer {
  display: flex;
  justify-content: center;
  height: 3em;
  line-height: 1em;
  padding-top: 1em;
  width: 100%;
  position: sticky;
  bottom: 0;
  background-image: linear-gradient(to right, #23282c, #292c2f, #2f3033, #343436, #393939);
  color: $mainBlue;

  & a {
    text-decoration: none;
    color: $mainBlue;
  }

  & a:hover {
    color: white;
  }
}
